.hr-line {
    opacity: 0.4;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.bottom-social-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: black;
    display: grid;
    align-content: center;
    justify-content: center;
    transition-duration: .5s;
}

.bottom-social-icon:hover {
    transform: scale(1.2);
    background-color: #849545;
}

.footer-info p {
    font-size: 18px;
    color: #4F4F4F;
}

.footer-search-bar {
    margin-top: 43px;
    width: 233px;
    height: 36px;
    border-radius: 18px;
    background-color: #D3E88B;
    display: flex;
    align-items: center;
}

.footer-search-bar input {
    width: 210px;
    height: 36px;
    border-radius: 18px;
    background-color: transparent;
    padding-left: 10px;
    font-size: 15px;
}

.footer-info input:focus {
    outline: none;
}


.copyright {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 14px;
}